.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .overlay {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: #ffffff;
    align-items: stretch;
  }
}

.container {
  border-radius: 14px;
  width: 480px;
  min-width: 320px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-10px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.container.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .container {
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 80%;
  height: auto;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .wrapper {
    height: 65%;
  }
}

.mediaCloseButtonContainer {
  display: none;
}

.closeButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .mediaCloseButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }

  .closeButtonContainer {
    display: none;
  }
}

.title {
  color: #171725;
  text-align: center;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 26px;
  letter-spacing: 0.1px;
  font-weight: 600;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }
}

.description {
  color: #171725;
  text-align: left;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .description {
    font-size: 14px;
  }
}

.formWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgba(0, 149, 246, 0.7);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .submitButton {
    font-size: 15px;
    padding: 12px;
  }
}

.submitButton:hover {
  background-color: rgba(0, 149, 246, 1);
}
