.container {
  height: 100vh;
  flex-grow: 1;
  background: #ffffff;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.container.active {
  opacity: 1;
  transform: translateX(0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 56px 32px 0 40px; /* 상단, 오른쪽, 하단, 왼쪽 */
  gap: 24px;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 40px 16px 0 16px;
    gap: 16px;
  }
}

.header {
  border-style: solid;
  border-color: #d8dee4;
  border-width: 0px 0px 1px 0px;
  height: 45px;
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  color: #24292f;
  text-align: left;
  font-family: 'NotoSans-DisplayRegular', sans-serif;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .headerTitle {
    font-size: 20px;
    line-height: 32px;
  }
}

.section {
  max-width: 550px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

@media (max-width: 768px) {
  .section {
    max-width: 100%;
  }
}

.sectionTitle {
  color: #24292f;
  text-align: left;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d0d7de;
  border-width: 1px;
  height: 32px;
  box-shadow: inset 0px 1px 0px 0px rgba(208, 215, 222, 0.2);
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}

.buttonText {
  color: #000000;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 16px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  overflow: visible;
}
