.container {
  width: 100%;
  border-bottom: 1px solid #e0e2e9;
  box-sizing: border-box;
}

.wrapper {
  margin: 18px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile {
  display: flex;
  margin-left: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgba(90, 91, 97, 0.2);
  border-width: 0.5px;
  object-fit: cover;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  color: #00030f;
  text-align: left;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.follow {
  color: #0095f6;
  text-align: left;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.userFooter {
  display: flex;
  align-items: center;
  gap: 6px;
}

.timaAgo,
.seperator,
.location {
  color: #808187;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.moreButton {
  flex-shrink: 0;
  margin-right: 4px;
  align-self: flex-start;
}

.moreButtonIcon {
  width: 24px;
  height: 24px;
}

.singleImageContainer {
  display: flex;
  margin-right: 4px;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.content {
  font-size: 14px;
  margin-right: 4px;
  margin-left: 4px;
}

.footer {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-left: 4px;
  gap: 32px;
}

.likesButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.commentsButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.likesCount {
  color: #808187;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.commentsCount {
  color: #808187;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footerIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
