.authButton {
  width: 35%;
  padding: 10px;
  background: white;
  border: 1.5px solid #e0e2e9;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.authIcon {
  width: 20px;
  height: 20px;
}

.authButton:hover {
  background: #f5f7fa;
  border-color: #c4c8d2;
  color: #0062ff;
}
