.container {
  border-top: 1px solid #e0e2e9;
  flex-grow: 1;
  width: 98%;
  max-height: 46vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding-top: 8px;
  gap: 8px;
}

.empty {
  margin-top: 6px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
