.container {
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  padding: 6px 4px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 2px;
}

.writerProfileImageContainer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgba(90, 91, 97, 0.2);
  border-width: 0.5px;
  object-fit: cover;
}

.commentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.editContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:;
}

.textarea {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
  font-size: 14px;
  background: transparent;
  color: #222;
  font-family: 'Inter', sans-serif;
  padding: 2px 0;
  transition: border-color 0.2s;
}

.textarea:focus {
  border-bottom: 1px solid #0095f6;
}

.editControls {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.actionButtons {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-top: 3px;
}

.confirmButton {
  font-size: 13px;
  color: #999;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border: none;
}

.confirmButton:hover {
  color: #333;
}

.cancelButton {
  font-size: 13px;
  color: #999;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
}

.cancelButton:hover {
  color: #333;
}

.contentContainer {
  width: 100%;
}

.writerProfileInfoContainer {
  gap: 8px;
  display: flex;
  align-items: center;
}

.username {
  color: #00030f;
  text-align: left;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.timaAgo {
  padding-top: 2px;
  color: #808187;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.writerContentContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  font-size: 13px;
  color: #222;
  white-space: pre-line;
  word-break: break-word;
  overflow-wrap: break-word;
}

.commentActionBarContainer {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.replyButton {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply {
  color: #808187;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
