.container {
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  padding: 6px 4px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 2px;
}

.replyWriterProfileImageContainer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profileIcon {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgba(90, 91, 97, 0.2);
  border-width: 0.5px;
  object-fit: cover;
}

.replyContentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.replyContentWrapper {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
}

.replyTextContainer {
  width: 100%;
}

.replyWriterInfo {
  gap: 8px;
  display: flex;
  align-items: center;
}

.username {
  color: #00030f;
  text-align: left;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.timaAgo {
  padding-top: 2px;
  color: #808187;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.replyTextContent {
  width: 100%;
  display: flex;
  align-items: center;
}

.text {
  width: 100%;
  font-size: 13px;
  color: #222;
  white-space: pre-line;
  word-break: break-word;
  overflow-wrap: break-word;
}

.replyActionBar {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.replyButton {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply {
  color: #808187;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.repliesContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
