.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1.5px solid #e0e2e9;
  border-radius: 8px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
}
