.sidebar {
  position: relative;
  width: 260px;
  height: 1024px;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000033;
  transition: width 0.3s ease-in-out;
}

.expanded {
  width: 260px;
}

.collapsed {
  width: 88px;
  align-items: center;
}

.titleWrapper {
  position: absolute;
  top: 43px;
  left: 32px;
  font-family: 'Inter-Bold', Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  transition: opacity 0.3s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 139px;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 108px;
  left: 32px;
}

.menuItem {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.textWrapper {
  position: relative;
  width: fit-content;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.footer {
  display: flex;
  width: 196px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  position: absolute;
  top: 941px;
  left: 32px;
  background-color: #6c33330a;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000033;
  transition: opacity 0.3s ease-in-out;
}

.chevronsButton {
  position: absolute;
  top: 46px;
  transform: translateY(-2px);
  transition: left 0.3s ease-in-out;
}

.expandedChevrons {
  left: 215px;
}

.collapsedChevrons {
  left: 30.5px;
}

.user {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 874px;
  left: 32px;
  transition: transform 0.3s ease-in-out;
}

.userCollapsed {
  left: 50%;
  transform: translateX(-20%);
}

.profileWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.profileDefault {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
