.postContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContentText {
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 4px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
}

.postContentFooter {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.emojiButton {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.emojiIcon {
  width: 20px;
  height: 20px;
}

.contentLength {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 129, 135, 0.8);
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 2px;
}

.emojiPickerContainer {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  top: -40px;
  left: 0px;
  position: absolute;
  transform: scale(0.7);
}

.emojiPickerContainer.active {
  opacity: 1;
  visibility: visible;
}
